.vp-doc {
  .demo-grid {
    .fei-col {
      color: #fff;
      padding: 5px 0;
      text-align: center;
      background: rgba(0, 153, 229, 0.8);
      &:nth-child(odd) {
        background: rgba(0, 153, 229, 0.5);
      }
    }
    .fei-row.gutter {
      .fei-col {
        background-color: transparent !important;
        > div {
          color: #fff;
          padding: 5px 0;
          text-align: center;
          background: rgba(0, 153, 229, 0.8);
        }
      }
    }
  }
}
