.fei-popper {
  --f-popper-padding: var(--fei-popper-padding);
  --f-popper-tooltip-padding: var(--fei-popper-tooltip-padding);
  --f-popper-radius: var(--fei-popper-radius);
  --f-popper-item-height: var(--fei-popper-item-height);
  --f-popper-item-margin: var(--fei-popper-item-margin);
  --f-popper-bg-light: var(--fei-popper-bg-light);
  --f-popper-bg-dark: var(--fei-popper-bg-dark);
}

.fei-popper {
  position: absolute;
  border-radius: var(--fei-border-radius-default);
  padding: var(--f-popper-tooltip-padding);
  z-index: 2000;
  font-size: var(--fei-font-size-default);
  line-height: var(--fei-base-line-height);
  min-width: 10px;
  word-wrap: break-word;
  visibility: visible;

  &.is-dark {
    color: var(--f-popper-bg-light);
    background: var(--f-popper-bg-dark);

    .fei-popper__arrow::before {
      background: var(--f-popper-bg-dark);
      right: 0;
    }
  }

  &.is-light {
    background: var(--f-popper-bg-light);
    box-shadow: var(--fei-shadow-popper);

    .fei-popper__arrow::before {
      box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
      background: var(--f-popper-bg-light);
      right: 0;
    }
  }

  &.is-pure {
    padding: 0;
  }
}

.fei-popper__arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;

  &::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
    content: ' ';
    transform: rotate(45deg);
    background: var(--f-popper-bg-dark);
    box-sizing: border-box;
  }
}

.fei-popper[data-popper-placement^='top'] > .fei-popper__arrow {
  bottom: -4px;
}

.fei-popper[data-popper-placement^='bottom'] > .fei-popper__arrow {
  top: -4px;
}

.fei-popper[data-popper-placement^='left'] > .fei-popper__arrow {
  right: -4px;
}

.fei-popper[data-popper-placement^='right'] > .fei-popper__arrow {
  left: -4px;
}

.fei-popper.is-light[data-popper-placement^='top'] .fei-popper__arrow::before {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  border-top-color: transparent;
  border-left-color: transparent;
}

.fei-popper.is-light[data-popper-placement^='bottom'] .fei-popper__arrow::before {
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.fei-popper.is-light[data-popper-placement^='left'] .fei-popper__arrow::before {
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.fei-popper.is-light[data-popper-placement^='right'] .fei-popper__arrow::before {
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
  border-right-color: transparent;
  border-top-color: transparent;
}
