.fei-card {
  --f-card-border-color: var(--fei-border-color-light);
}

.fei-card {
  border-radius: var(--fei-border-radius-default);
  border: 1px solid var(--f-card-border-color);
  background-color: #fff;
  transition: var(--fei-animation-duration-base);
  width: 100%;

  &.is-always-shadow,
  &.is-hover-shadow:focus,
  &.is-hover-shadow:hover {
    box-shadow: var(--fei-shadow-popper);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }

  &.is-never-shadow,
  &.is-never-shadow:focus,
  &.is-never-shadow:hover {
    box-shadow: none;
  }

  &.is-no-border {
    border: none;
  }

  .fei-card__header {
    padding: 8px 16px;
    box-sizing: border-box;
    font-size: var(--fei-font-size-default);
    color: var(--fei-color-text-primary);
    font-weight: 500;

    &.has-divider {
      border-bottom: 1px solid var(--f-card-border-color);
    }

    &.no-divider {
      border-bottom: none;
    }

    &.has-tip {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        bottom: 12px;
        width: 2px;
        background: var(--fei-color-primary);
      }
    }
  }

  .fei-card__body {
    padding: 16px;
  }
}
