@import './styles/grid.css';
@import './styles/code.styl';

body {
  width: unset;
}

.vp-doc {
  color: var(--vs-theme-color);

  li + li {
    margin-top: 0;
  }

  p {
    line-height: 1.6;
  }

  h1 {
    color: var(--vs-theme-color);
    font-weight: 600;
  }

  h2 {
    margin: 16px 0 16px;
    border-top: none;
    color: var(--vs-theme-color);
    font-weight: 600;
  }

  h3 {
    margin: 16px 0 16px;
    border-top: none;
    font-weight: 500;
  }

  a {
    color: var(--fei-color-primary);
  }

  a,
  a:hover {
    text-decoration: none;
  }

  table {
    display: table;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: var(--vs-theme-code);
    overflow-x: hidden;
  }

  :not(pre) > code {
    border-radius: 4px;
    padding: 3px 6px;
    color: var(--vs-theme-color);
    transition:
      color 0.5s,
      background-color 0.5s;
  }

  [class*='language-'] pre {
    padding: 0;
    background: var(--vs-theme-code2);
    code {
      padding: 16px 20px;
    }
  }

  /* [class*='language-'] code .highlighted {
    background-color: transparent;
  } */

  [class*='language-'] > span.lang {
    color: rgba(255, 255, 255, 0.4);
    top: 0.8em;
    right: 1.2em;
  }

  [class*='language-'] > button.copy {
    display: none;
  }

  [class*='language-']:hover > button.copy + span.lang,
  [class*='language-'] > button.copy:focus + span.lang {
    opacity: 1;
  }

  div[class*='language-'] {
    background-color: transparent;
    margin: 0;
  }

  .header-anchor {
    position: unset;
  }

  .fei-tag.is-dot {
    color: var(--vs-theme-color) !important;
  }
  .fei-radio-group-capsule .fei-radio {
    color: var(--vs-theme-code);
  }

  .fei-form-item__label {
    color: var(--vs-theme-color);
  }

  .fei-tree-title {
    color: var(--vs-theme-color);
    &:hover {
      color: var(--vs-theme-bg);
    }
  }
  .fei-table-cell {
    padding: 0;
  }
  .fei-desc__body table tr{
    border: 0;
  }
  .fei-timeline-item{
    width: 100%;
  }
  /* .fei-input{
    background-color: var(--vs-theme-bg);
  } */
}

/* .vitepress-demo-preview__element-plus__container {
  background-color: #fff;
} */

/* .vitepress-demo-preview-preview {
  th,
  td {
    border: none;
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    padding-left: 0;
    margin: 0;
  }

  li + li {
   margin: 0;
  }

  tr {
    border-top: none;
  }

  td {
    font-size: 14px;
  }
} */
