@import './styles/grid.css';

body {
  width: unset;
}

.vitepress-demo-preview__element-plus__container{
  background-color: #fff;
}

.vp-doc {
  color: var(--vs-theme-color);

  li + li {
    margin-top: 0;
  }

  p {
    line-height: 1.6;
  }

  h1 {
    color: var(--vs-theme-color);
    font-weight: 600;
  }

  h2 {
    margin: 16px 0 16px;
    border-top: none;
    color: var(--vs-theme-color);
    font-weight: 600;
  }

  h3 {
    margin: 16px 0 16px;
    border-top: none;
    font-weight: 500;
  }

  a:hover {
    text-decoration: none;
  }

  table {
    display: table;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: var(--vs-theme-code);
    overflow-x: hidden;
  }

  :not(pre) > code {
    border-radius: 4px;
    padding: 3px 6px;
    color: var(--vs-theme-color);
    transition: color .5s,background-color .5s;
  }
  
  .fei-message__content{
    color: var(--vs-theme-code);
  }
}

.vitepress-demo-preview-preview {
  th,
  td {
    border: none;
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    padding-left: 0;
    margin: 0;
  }

  /*li + li {*/
  /*  margin: 0;*/
  /*}*/

  tr {
    border-top: none;
  }

  td {
    font-size: 14px;
  }
}
