:root {
  /*--colors: (primary: #1089ff, success: #52c41a, warning: #fa8c16, danger: #f5222d, info: #35495e);*/
  --colors: (primary: #1a5cff, success: #46c93a, warning: #ffba00, danger: #ff4757, info: #1e1e1e);

  @each $val, $color in var(--colors) {
    --fei-color-$(val): $(color);
    --fei-color-$(val)-light1: mix(#fff, $(color), 0.2);
    --fei-color-$(val)-light2: mix(#fff, $(color), 0.4);
    --fei-color-$(val)-light3: mix(#fff, $(color), 0.6);
    --fei-color-$(val)-light4: mix(#fff, $(color), 0.8);
    --fei-color-$(val)-light5: mix(#fff, $(color), 0.9);
    --fei-color-$(val)-light6: mix(#fff, $(color), 0.95);
    --fei-color-$(val)-active: mix(#000, $(color), 0.1);
  }
  /* 背景色 */
  --fei-bg-color-1: #17171a;
  --fei-bg-color-2: #232324;
  --fei-bg-color-3: #2a2a2b;
  --fei-bg-color-4: #313132;
  /* 文字色 */
  --fei-text-color-1: #1d2129;
  --fei-text-color-2: #4e5969;
  --fei-text-color-3: #86909c;
  --fei-text-color-4: #c9cdd4;
  /* 填充色 */
  --fei-fill-color-1: #fafafa;
  --fei-fill-color-2: #f2f3f5;
  --fei-fill-color-3: #e5e6eb;
  --fei-fill-color-4: #c9cdd4;
  /* bg-color */
  --fei-white-color: #ffffff;
  --fei-black-color: var(--fei-bg-color-1);
  /* white-color */
  --fei-white-color: #fff;
  --fei-white-color-light: rgba(255, 255, 255, 0.65);
  --fei-white-color-light2: rgba(255, 255, 255, 0.35);
  --fei-dark-bg: #000;
  /* text-color */
  --fei-color-text-primary: var(--fei-text-color-1);
  --fei-color-text-default: var(--fei-text-color-2);
  --fei-color-text-secondary: var(--fei-text-color-3);
  --fei-color-text-disabled: var(--fei-text-color-4);
  --fei-color-text-placeholder: var(--fei-text-color-4);
  /* disabled */
  --fei-disabled-border-color: #ebeef5;
  /* bg-color */
  --fei-color-select-hover: #f5f5f5;
  --fei-color-bg-disabled: var(--fei-fill-color-2);
  /* border */
  --fei-border-color-base: #e0e0e6;
  --fei-border-color-light: #f0f0f0;
  --fei-border-color-light-2: rgba(255, 255, 255, 0.24);
  --fei-border-base: 1px solid var(--fei-border-color-base);
  --fei-border-base-light: 1px solid var(--fei-border-color-light);
  --fei-border-table-color: #efeff5;
  --fei-border-table: 1px solid var(--fei-border-table-color);
  --fei-border-popper-color: #ebeef5;
  /* radius */
  --fei-border-radius-none: 0;
  --fei-border-radius-default: 6px;
  --fei-border-radius-medium: 8px;
  --fei-border-radius-large: 10px;
  /* font-size */
  --fei-font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    SimSun, sans-serif;
  --fei-base-font-weight: 400;
  --fei-font-size-small: 12px;
  --fei-font-size-default: 14px;
  --fei-font-size-large: 16px;
  /* height */
  --fei-large-height: 36px;
  --fei-large-height-2: calc(var(--fei-large-height) - 2px);
  --fei-default-height: 32px;
  --fei-default-height-2: calc(var(--fei-default-height) - 2px);
  --fei-small-height: 28px;
  --fei-small-height-2: calc(var(--fei-small-height) - 2px);
  --fei-mini-height: 24px;
  --fei-mini-height-2: calc(var(--fei-mini-height) - 2px);
  --fei-base-line-height: 1.5715;
  /* animation-duration */
  --fei-animation-duration-slow: 0.35s;
  --fei-animation-duration-base: 0.25s;
  /* shadow-duration */
  --fei-shadow-down: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0px rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --fei-shadow-popper: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  /* scrollbar */
  --fei-scrollbar-width: 5px;
  --fei-scrollbar-radius: 5px;
  --fei-scrollbar-color: rgba(0, 0, 0, 0.2);
  --fei-scrollbar-color-hover: rgba(0, 0, 0, 0.3);
  --fei-scrollbar-track: rgba(0, 0, 0, 0.05);
  /* tag-style */
  --fei-tag-height: 22px;
  --fei-tag-font-size: 12px;
  --fei-tag-padding: 0 7px;
  /* page */
  --fei-page-border-color: transparent;
  --fei-page-bg: var(--fei-white-color);
  --fei-page-hover-bg: var(--fei-fill-color-2);
  --fei-page-active-bg: var(--fei-color-primary-light5);
  /* table */
  --fei-table-header-bg: var(--fei-fill-color-2);
  --fei-table-header-text: var(--fei-text-color-1);
  --fei-border-table-color: var(--fei-fill-color-3);
  --fei-border-table: 1px solid var(--fei-border-table-color);
  /* popper */
  --fei-popper-padding: 4px;
  --fei-popper-tooltip-padding: 8px 10px;
  --fei-popper-radius: 4px;
  --fei-popper-item-height: 30px;
  --fei-popper-item-margin: 4px;
  --fei-popper-bg-light: var(--fei-white-color);
  --fei-popper-bg-dark: var(--fei-black-color);
  /* menu */
  --fei-menu-padding: 8px;
  --fei-menu-item-height: 40px;
  --fei-menu-item-height-h: 60px;
  --fei-menu-item-border-radius: 4px;
  --fei-menu-item-margin-bottom: 4px;
  --fei-menu-collapse-width: 48px;
  --fei-menu-text-color: var(--fei-color-text-default);
  --fei-menu-text-hover-color: var(--fei-menu-text-color);
  --fei-menu-text-active-color: var(--fei-color-primary);
  --fei-menu-bg-color: var(--fei-white-color);
  --fei-menu-bg-hover-color: var(--fei-color-primary-light6);
  --fei-menu-bg-active-color: var(--fei-color-primary-light6);
}
